<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      ID：<%= @inquiry.user_id %>
    </p>
    <p>
      名前：<%= @inquiry.name %>
    </p>
    <p>
      メールアドレス：<%= @inquiry.email %>
    </p>
    <p>
      <%= @inquiry.message %>
    </p>
  </body>
</html>
