
<div class="page-head">
  <h3 class="page-head-title">お問い合わせ</h3>
</div>

<div class="section-box">
  <h4 class="section-box-title">タイトル</h4>
  <span class="section-box-body content-center">
    <p>
      内容
    </p>
  </span>
</div>
