
<div class="page-head">
  <h3 class="page-head-title">プライバシーポリシー</h3>
</div>

<div class="section-box">
  <h4 class="section-box-title">第１条 個人情報の取得・収集</h4>
  <span class="section-box-body content-center">
    <p>
      当サービスでは、業務の遂行にあたり、個人情報を取得することがあります。
    </p>
    <p>
      取得を行う際は、適正かつ公正な手段により行い、利用目的をあらかじめ公表するか、取得後速やかにご本人に通知または公表いたします。
    </p>
  </span>
</div>

<div class="section-box">
  <h4 class="section-box-title">第２条 個人情報の利用目的</h4>
  <span class="section-box-body content-center">
    <p>
      当サービスは、取得した個人情報を下記の目的の範囲内で適切に利用いたします。
    </p>
    <p>
      ・サービス全般の提供のため
    </p>
    <p>
      ・サービスへのログインに伴う本人確認のため
    </p>
    <p>
      ・本サイトご利用に関するアンケートのご連絡のため
    </p>
    <p>
      ・お客様のサービス利用状況に関する調査、統計、分析のため
    </p>
    <p>
      ・システムの維持、不具合対応のため
    </p>
    <p>
      ・法令等により提供が必要な場合に、適切な第三者への情報開示責任を遂行するため
    </p>
  </span>
</div>

<div class="section-box">
  <h4 class="section-box-title">第３条 個人情報の提供</h4>
  <span class="section-box-body content-center">
    <p>
      当サービスは、お客様の個人情報を下記の場合を除いて第三者に提供することはいたしません。
    </p>
    <p>
      ・お客様からの事前の同意がある場合
    </p>
    <p>
      ・法令に基づく場合
    </p>
    <p>
      ・お客様が本サービスの利用規約に違反し、弊社の権利、財産やサービス等を保護するために、個人情報を公開せざるをえないと判断するに足る十分な根拠がある場合
    </p>
    <p>
      ・人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合
    </p>
    <p>
      ・公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難である場合
    </p>
    <p>
      ・国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合
    </p>
    <p>
      ・営業譲渡その他の事由によって個人情報の提供を含む弊社の事業の承継が行われる場合
    </p>
  </span>
</div>

<div class="section-box">
  <h4 class="section-box-title">第４条 個人情報の操作</h4>
  <span class="section-box-body content-center">
    <p>
      当サービスは、お客様またはその代理人の方からの個人情報の開示・訂正・利用停止の請求があった場合には、当該請求がお客様ご本人の請求であることをしかるべき方法で確認させて頂いた上で、法令の定める合理的な範囲で対応いたします。
    </p>
  </span>
</div>

<div class="section-box">
  <h4 class="section-box-title">第５条 免責事項</h4>
  <span class="section-box-body content-center">
    <p>
      当サービスに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
    </p>
  </span>
</div>

<div class="section-box">
  <h4 class="section-box-title">第６条 プライバシーポリシーの変更について</h4>
  <span class="section-box-body content-center">
    <p>
      当サービスは、個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直しその改善に努めます。
    </p>
    <p>
      修正された最新のプライバシーポリシーは常に本ページにて開示されます。
    </p>
  </span>
</div>

<div class="text-center">
  2018年08月29日 施行
</div>
