
<div class="edge-temp">
  <table class="table table-bordered background-sub">
    <tr>
      <th class="from-node-name"></th>
    </tr>
    <tr>
      <td class="to-node-name"><a data-remote="true"></a></td>
    </tr>
  </table>
</div>

<div class="edge-list">
</div>
