
<table class="table table-striped">
  <tr>
    <th>id</th>
    <th>名前</th>
    <th>id</th>
    <th>名前</th>
  </tr>
  <% @edges.each do |edge| %>
    <tr>
      <td><%= edge.from_node.id %></td>
      <td><%= edge.from_node.name %></td>
      <td><%= edge.to_node.id %></td>
      <td><%= edge.to_node.name %></td>
    </tr>
  <% end %>
</table>
