
<div class="edge-temp">
  <table class="table table-bordered background-sub">
    <tr>
      <th class="from-node-name"></th>
    </tr>
    <tr>
      <td class="to-node-name"><a data-remote="true"></a></td>
    </tr>
  </table>
</div>

<div class="edge-list">
</div>

<div id="users-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<% content_for :script do %>
  <script>
    var current_id = "<%= @current_ref_id %>";
    var view_ids = <%= @view_ref_ids.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag 'firebase/init.js' %>
  <%= javascript_include_tag 'firebase/edges_index.js' %>
<% end %>
