
$backgroundColor: #666666;

$baseColor: #f8f8f8;
$accentColor: #777777;
$subColor: #aaaaaa;

$ownNodeColor: #aaaaff;

$colorBlack: #000000;
$colorWhite: #ffffff;

$defaultFontSize: 14px;

$logoWidth: 120px;
$logoHeight: 18px;

$navZIndex: 1030;
$navHeight: 50px;
$navSize: 17px;
$navBorderSize: 2px;
$navBorderMarginLeft: $navSize*0.45;
$navBorderMarginTop: $navBorderMarginLeft + $navBorderSize;

@mixin height-centering {
    content: "";
    display: inline-block;
    vertical-align: middle;
}
