
@charset "utf-8";
@import 'common';

.egdes-main {
  height: 100%;
  overflow: hidden;
  margin: $navHeight 0;
  padding: 0;
  
  h1 {
    font-family: 'Rounded Mplus 1c';
    color: $accentColor;
    text-shadow: 0 0 5px $colorBlack;
    margin: 0.5em;
    position: absolute;
    font-size: 1.5em;
    z-index: 1;
  }
}

.edge-temp {
  display: none;
}

#edges-index {
  display: block;
  position: relative;
  overflow: hidden;
  
  .text-label {
    display: none;
    height: 16px;
    text-align: center;
    text-shadow: 0 0 5px $colorBlack;
    pointer-events: none;
    width: 300px;
  }
}

#empathy-user-list {
  @include main-background;
  display: block;
  padding: 0;
  min-height: 40px;
  max-height: 120px;
  overflow-y: scroll;
}

.modal {
  .close {
    color: $textColor;
    opacity: .5;
  }
  
  .modal-sm {
    width: 300px;
    margin: 30px auto;
  }
  
  .modal-content {
    @include main-background-overlay;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    
    .edge-order {
      width: 49%;
    }
    .edge-order.active>a {
      background: transparent;
    }
  }

  .node-circle {
    background: $ownNodeColor;
    border-radius: 50%;
    position: relative;
    width: 70%;
    height: 70%;
    padding: 35%;
    margin: 1em auto;
    
    .node-name {
      position: absolute;
      left: 0;
      top: 50%;
      margin: -1.3em -15% 0;
      width: 130%;
      text-align: center;
    }
    
    .node-label {
      margin-top: -.7em;
      text-shadow: 0 0 4px $colorBlack;
    }
  }
}

#edge-new {
  .edge-line {
    background: $ownNodeColor;
    display: block;
    height: 2%;
    margin: 23% 0 0 20%;
    position: absolute;
    width: 60%;
  }
  
  .small-node {
    padding-top: 11.5%;
  }
}

#users-modal {
  .check-hide-user {
    white-space: nowrap;
    &:before {
      display: inline-block;
      content: "";
      height: 100%;
      vertical-align: middle;
    }
    label {
      white-space: normal;
      vertical-align: middle;
    }
  }
}


#drawer {
  $openerWidth: 26px;
  
  background: rgba($backgroundColor1, 0.5);
  display: block;
  height: 100%;
  max-width: 100%;
  padding: $navHeight 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 2;
  
  .drawer-open {
    @include flex-center;
    background-color: $baseColor;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: $openerWidth;
    cursor: pointer;
    
    span {
      display: inline-block;
    }
  }
  
  #edge-list-filter {
    margin: 20px auto;
    width: 90%;
  }
  
  .drawer-title {
    width: 100%;
    margin: 30px 0 20px -50%;
  }
  
  .drawer-body {
    display: block;
    left: $openerWidth;
    padding: 0 $openerWidth 0 0;
    position: relative;
    height: 100%;
    white-space: nowrap;
    width: 0;
    transition: .3s all ease-in-out;
    overflow: auto;

    .drawer-content {
      padding: 0 20px;
    }
  }
  
  .drawer-body.in {
    max-width: 100%;
    width: 400px;
  }
  
  .panel {
    background: $baseColor;
    border-color: $backgroundColor1;
    
    >.panel-heading {
      background: $backgroundColor2;
      border-color: $backgroundColor1;
      
      .panel-title {
        display: flex;
        justify-content: space-between;
        text-align: left;
        
        .name {
          overflow: hidden;
          text-overflow: ellipsis;
        }
        
        .badge {
          @include mono-background;
        }
      }
    }
    
    .button-primary {
      border-color: $backgroundColor1;
    }
    
    .list-group-item {
      display: flex;
      justify-content: space-between;
      background: $backgroundColor3;
      border: 1px solid $backgroundColor1;
      color: $textColor;

      .name {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
      .badge {
        @include mono-background;
      }
    }
    
    .is-owner {
      .badge {
        @include sub-background;
      }
    }
    
    .panel-heading+.panel-collapse>.list-group, .panel-heading+.panel-collapse>.panel-body {
      border-top: 1px solid $backgroundColor1;
    }
  }
  
  .panel.gaze {
    >.panel-heading {
      color: $accentColor;
    }
  }
}
