
@charset "utf-8";
@import 'common';

header {
  .col-xs-6, .col-xs-4 {
    padding: 0;
  }
  
  section {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    height: $navHeight;
    z-index: $navZIndex+1;
    background-color: $baseColor;
    
    nav {
      display: flex;
      height: $navHeight;
    }
    
    .signed_in {
      padding: 0 4px;
      ul li {
        padding: 0 4px;
      }
    }
  }
  
  .btn {
    @include main-background;
    border: $colorWhite 1px solid;

    &:focus, &:active:focus, &:active:hover {
      @include main-background;
      border: $colorWhite 1px solid;
    }
    &:hover, &:active {
      @include main-background-active;
      border: $colorWhite 1px solid;
    }
  }
  
  .btn-group {
    button {
      @include main-background;
      text-shadow: none;
      
      &:focus, &:active:focus, &:active:hover {
        @include main-background;
      }
      &:hover, &:active {
        @include main-background-active;
      }
    }
  }
  
  .btn-group.open {
    >.dropdown-toggle.btn-default {
      &:focus, &:active:focus, &:active:hover {
        @include main-background;
      }
      &:hover, &:active {
        @include main-background-active;
      }
    }
  }
  
  .icon.button {
    @include main-background;
    
    width: $navHeight*0.5;
    height: $navHeight*0.5;
    line-height: $navHeight*0.5;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: $colorWhite 1px solid;
    border-radius: 50%;

    &:hover {
      @include main-background-active;
    }
  }
  
  .position-left, .position-right {
    width: 50vw;
    margin: 0;
    padding: 0;
  }
  .position-left {
    justify-content: flex-start;
  }
  .position-right {
    justify-content: flex-end;
  }

  .position-center {
    position: absolute;
    display: flex;
    width: 100%;
    height: $navHeight;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    list-style: none;
    
    a {
      pointer-events: auto;
    }
  }

  .height-centering {
    display: flex;
    height: $navHeight;
    align-items: center;
    list-style: none;
    
    >li {
      display: inline-block;
    }
    .text-link {
      display: inline-block;
      height: $navHeight;
      line-height: $navHeight;
      font-size: 1rem;
      padding: 0 1rem;
      color: $textColor;
      
      &:hover, &:active, &:visited {
        text-decoration: none;
      }
      &:hover, &:active {
        color: $subColor;
      }
    }
  }
  
  .logo {
    $logoWidth: 150px;
    $logoHeight: $logoWidth*0.24;
    margin-top: 2px;
    
    svg {
      color: $subColor;
      width: $logoWidth;
      height: $logoHeight;
    }
  }
}

#top-nav {
  top: 0;
  
  .dropdown-menu {
    .user {
      margin-left: 0;
      padding-bottom: 10px;
      p {
        margin: 0;
      }
      .user-name {
        margin-top: 6px;
        font-size: 18px;
      }
      .user-email {
        margin-left: 16px;
      }
    }
  }
  
  .icon-bar {
    button {
      display: block;
      width: $navHeight*0.7;
      height: $navHeight*0.7;
      padding: 0;
      cursor: pointer;

      span {
        width: $navSize;
        height: $navBorderSize;
        left: $navBorderMarginLeft;
        position: absolute;
        pointer-events: none;
        -webkit-transition: .15s ease-in-out;
        background-color: $textColor;
      }
    }
  }
  .icon-bar-top {
    top: $navBorderMarginTop + 0;
  }
  .icon-bar-middle {
    top: $navBorderMarginTop + $navSize*0.35;
  }
  .icon-bar-bottom {
    top: $navBorderMarginTop + $navSize*0.7;
  }
  .open {
    .icon-bar-top {
      top: $navBorderMarginTop + $navSize*0.35;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .icon-bar-middle {
      width: 0;
      left: $navSize;
    }
    .icon-bar-bottom {
      top: $navBorderMarginTop + $navSize*0.35;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}


#bottom-nav {
  bottom: 0;
  
  .zoom-button span {
    font-size: 18px;
  }
    
  #associating {
    display: none;
  }
}


#footer {
  background: $baseColor;
  padding-top: 24px;
  padding-bottom: 30px;
  font-size: 1rem;
}

#footer-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  max-width: 640px;
  padding: 0;
  margin: 0 auto 20px;
}
