
<% if params[:controller] != 'edges' %>
  <footer id="footer">
    <ul id="footer-nav">
      <li><%= link_to '利用規約', terms_path %></li>
      <li><%= link_to 'プライバシーポリシー', policy_path %></li>
      <li><%= link_to 'お問い合わせ', inquiry_path %></li>
    </ul>
    <div class="text-center">copyright (C) Imaginnection all rights reserved.</div>
  </footer>
<% end %>
